<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/create.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <title>Create</title>
</head>

<body>
    <header>
        <h1><a href="/">Tracker</a></h1>
    </header>
    <section id="center">
        <form action="/" method="post" onsubmit="return validateForm()" name="url-form">
            <input type="text" name="url" placeholder="url..." onkeydown="resetError()" />
            <input type="submit" value="submit" />
        </form>
        <p id="error"></p>
    </section>

    <script>
        function validateForm() {
            const url = document.forms["url-form"]["url"].value;

            const regex =
                /^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/;

            if (!url.match(regex)) {
                document.querySelector("#error").innerHTML = "Invalid URL";
                return false;
            }
        }

        function resetError() {
            document.querySelector("#error").innerHTML = "";
        }
    </script>
</body>

</html>